---
import Layout from "../../layouts/complex.astro";
import ProjectCard from "../../components/project-card";
import { getCollection } from 'astro:content';

function groupByProjectType(objects) {

    const result = {
        ongoing: [],
        finished: [],
        european: []
    };

    objects.forEach(obj => {
        switch (obj.data.status) {
            case 'ongoing':
                result.ongoing.push(obj);
                break;
            case 'finished':
                result.finished.push(obj);
                break;
            case 'european':
                result.european.push(obj);
                break;
            default:
                break;
        }
    });

    return result;

}

const projects = await getCollection('projects');
const groupedProjects = groupByProjectType(projects);
---

<Layout title="Funding & Projects">
    {[...Object.entries(groupedProjects)].map(([title, value]) => {
        return (
            <section class="flex flex-col gap-y-8 mt-12">
                <h1 class="text-3xl font-bold underline">{title}</h1>
                <div class="flex flex-col gap-y-6">
                    {value.map((project) => {
                        return (
                                <ProjectCard title={project.data.title} href={`/funding-and-projects/${project.slug}`}>
                                    {project.data.summary}
                                </ProjectCard>
                        );
                    })}
                </div>
            </section>
        )
    })}
</Layout>

