---
import slugify from "slugify";

const { title, centered = true, marginTop } = Astro.props;
const headingSlug = slugify(title.toLowerCase());
---

<section class={`${marginTop ? "mt-28" : ""}`}>
    <div class={`mx-auto ${centered ? "max-w-3xl text-center" : ""} [&_p:first-child]:mt-6 [&_p]:text-base`}>
        <h1 class="text-3xl font-bold tracking-tight lg:text-6xl scroll-mt-20"
            id={headingSlug}>
            {title}
        </h1>
        <slot name="description"/>
    </div>
    <div class="mt-24">
        <slot/>
    </div>
</section>
