<section class="mx-auto mt-24">
    <div class="mx-auto max-w-2xl text-center [&_h1]:font-bold [&_h1]:sm:text-4xl [&_p]:mt-6 [&_p]:text-base [&_p]:leading-relaxed">
        <slot name="intro"/>
    </div>
    <div class="mx-auto mt-16 lg:mt-12">
        <slot/>
    </div>
</section>

