---
import Intro from "../content/landing/features/intro.mdx";
import FeatureList from "../content/landing/features/list.mdx";
import {IoMdHelpCircle} from "react-icons/io";
import {FaFingerprint, FaServer, FaTools} from "react-icons/fa";
---

<section class="mx-auto mt-24">
    <div class="max-w-2xl mx-auto text-base [&_h1]:max-w-2xl [&_p]:max-w-4xl text-center [&_h1]:mt-2 [&_h1]:text-3xl [&_h1]:font-bold [&_h1]:tracking-tight [&_h1]:sm:text-4xl [&_p]:mt-6 [&_p]:text-base [&_p]:leading-7">
        <slot name="intro" />
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            <slot />
        </dl>
    </div>
</section>
