---
import Content from "../content/research-support/index.mdx";
import { components } from "../components/elements";
import SidebarList from "../components/sidebar-list";
import Card from "../components/card";
import Projects from "../layouts/complex.astro";
import { FcDatabase } from "react-icons/fc";
import { FcBiotech } from "react-icons/fc";
import { FcOnlineSupport } from "react-icons/fc";
---

<Projects title="Research Support" sidebar="left-prominent">

    <Content components={components}/>

    <div slot="left" class="flex flex-col gap-y-6">
        <SidebarList
                title="We offer the following types of support for you: -"
                items={[
                    "General advice and experimental design consultancy",
                    "Programming and scripting assistance",
                    "Data Analysis",
                    "Data Management",
                    "Data Archiving",
                ]}
        />
        <SidebarList
                title="We have experience working with various data types, including but not limited to:"
                items={[
                    "High-throughput sequence data (DNA/RNA)",
                    "Proteomics data",
                    "Chip-seq data",
                    "Structural data",
                ]}
        />
        <SidebarList
                title="We have expertise in a wide range of biological and medical fields, including:"
                items={[
                    "Genome and transcriptome assembly",
                    "Variant calling",
                    "Annotation",
                    "Gene expression, coding and noncoding",
                    "Methylation and epigenetics",
                    "Statistical genomics",
                    "Network analysis",
                    "Metagenomics",
                    "Microbial genomics",
                    "Cancer",
                    "Health",
                    "Marine",
                ]}
        />
    </div>

</Projects>
