---
import Navigation from "../../components/navigation";
import { type CollectionEntry, getCollection } from 'astro:content';
import FullWidthLayout from "../../layouts/full-width.astro";

// Function to normalize the date
function parseDate(dateString) {
    // Try to create a date using the Date constructor
    const parsedDate = new Date(Date.parse(dateString));
    // If the date is invalid, return a default date
    if (isNaN(parsedDate as any)) {
        return new Date(0); // This would be used for totally unparseable dates
    }
    return parsedDate;
}

const news = await getCollection('news');
// news.sort((a, b) => parseDate(b.data.date) - parseDate(a.data.date));
---

<FullWidthLayout title="News">
    <ol class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-12 gap-x-12">
        {news.map((entry) => {
            return (
                    <li class="shadow-xl bg-light-surface dark:bg-dark-surface rounded-lg overflow-clip">
                        <div class="h-48 bg-white overflow-clip flex items-center justify-center">
                            <img src={entry.data?.cover?.source ?? "/images/og/default.jpg"}
                                 alt="Article Cover"
                                 class="w-auto h-auto"/>
                        </div>
                        <a href={`/news/${entry.slug}`} class="flex px-6 pt-4 pb-6 flex-col gap-y-2">
                            <time class="block font-light text-orange-600">{entry.data.date}</time>
                            <span class="block text-xl font-bold">{entry.data.title}</span>
                            {entry.data.summary && <span class="block text-sm font-light">{entry.data.summary}</span>}
                        </a>
                    </li>
            )
        })}
    </ol>
</FullWidthLayout>
