---
import { getCollection } from "astro:content";
import { HiArrowSmRight } from "react-icons/hi";
const news = (await getCollection("news"))
    .sort((a, b) => new Date(b.data.date) - new Date(a.data.date)) // Sort by date (newest first)
    .splice(0, 3);
---

<ul class="flex flex-col gap-y-4">
    {news.map((article) => {
        return (
                <li>
                    <a href={`/news/${article.slug}`}>
                        <span class="link block">{article.data.title}</span>
                        <time class="datetime block text-sm">{article.data.date}</time>
                    </a>
                </li>
        )
    })}
    <li>
        <a href="/news" class="link flex items-center">
            More news
            <HiArrowSmRight/>
        </a>
    </li>
</ul>
