---
import React from "react";

const { links } = Astro.props;
---

<div class="overflow-hidden bg-slate-50 dark:bg-dark-surface shadow sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        {links?.map((link) => {
            const pathname = new URL(Astro.request.url).pathname;
            const isActive = pathname === link.href;
            return (
                    <li>
                        <a href={link.href}
                           class={`text-base block w-full h-full py-2 px-6 hover:bg-gray-50 dark:hover:bg-gray-800/50 transition duration-150 ease-in-out ${isActive ? 'bg-blue-100 text-blue-700' : ''}`}>{link.text}</a>
                    </li>
            )
        })}
    </ul>
</div>