<div>
    <link rel="stylesheet" property="stylesheet" href="https://elixirtess.github.io/TeSS_widgets/css/tess-widget.css"/>
    <div id="tess-widget-dropdown-table"
         class="tess-widget tess-widget-dropdown-table text-content mx-auto max-w-[800px] py-4 pages-link"></div>
    <script is:inline>
        function initTeSSWidgets() {
            TessWidget.Events(document.getElementById('tess-widget-dropdown-table'),
                'DropdownTable',
                {
                    opts: {
                        columns: [{ name: 'Date', field: 'start' },
                            { name: 'Name', field: 'title' },
                            { name: 'Organizer', field: 'organizer' },
                            { name: 'Location', field: 'location' }],
                        dropdowns: [{ name: 'Type', field: 'event-types' },
                            { name: 'Organizer', field: 'organizer' },
                            { name: 'Topic', field: 'scientific-topics' }]
                    },
                    params: {
                        q: '',
                        country: ['Norway']
                    }
                });
        }
    </script>
    <script src="https://elixirtess.github.io/TeSS_widgets/js/tess-widget-standalone.js"
            onload="initTeSSWidgets()"></script>
</div>