---
const { links } = Astro.props;
---

<div class="overflow-hidden shadow bg-white sm:rounded-md">
    <ul role="list" class="divide-y divide-gray-100">
        {links.map((link) => (
                <li>
                    <a rel="noopener noreferrer"
                       class="block w-full h-full font-medium px-4 py-4 sm:px-6 hover:bg-slate-50 transition-all ease-in-out delay-75"
                       href={link.link}>
                        {link.text}
                    </a>
                </li>
        ))}
    </ul>
</div>
