---
import DefaultLayout from "./default.astro";

const props = Astro.props;
---

<DefaultLayout>
    <div class="flex mx-auto w-full h-full max-w-7xl items-start gap-x-12">
            {Astro.slots.has("left") && (
                    <aside class={`sticky top-8 hidden ${
                        props.sidebar === "equal" ? "w-60" :
                            props.sidebar === "left-prominent" ? "w-72" : "w-44"
                    } shrink-0 lg:block`}>
                        <slot name="left"/>
                    </aside>
            )}
            <main class=`mx-auto ${
                (Astro.slots.has("right") &&
                    Astro.slots.has("left")) ?
                    "max-w-full flex-1" :
                    "max-w-3xl container"
            }`>
                {(props?.title || props?.cover) &&
                        <div class={`${!props?.cover ? "mb-8" : ""} mx-auto lg:mx-0 flex flex-col gap-y-2`}>
                            <h1 class="text-3xl font-bold tracking-tight sm:text-5xl">
                                {props?.title}
                            </h1>
                            {
                                props?.date && (
                                            <time class="text-slate-500"
                                                  datetime={props.date}>
                                                {props.date}
                                            </time>
                                )
                            }
                            {props?.cover && (
                                    <figure class="my-12 max-w-full">
                                        <img alt="Article Cover Image" src={props?.cover?.source}
                                             class="w-full rounded mx-auto"/>
                                        <figcaption class="text-sm mt-2 text-slate-600">
                                            {props?.cover?.caption ?? ""}
                                        </figcaption>
                                    </figure>
                            )}
                        </div>
                }
                <div class="[&>*:first-child]:mt-0">
                    <slot/>
                </div>
            </main>
            {Astro.slots.has("right") && (
                    <aside class={`sticky top-8 hidden ${
                        props.sidebar === "equal" ? "w-60" :
                            props.sidebar === "right-prominent" ? "w-72" : "w-44"
                    } shrink-0 xl:block`}>
                        <slot name="right"/>
                    </aside>
            )}
        </div>
</DefaultLayout>
